
.main-page {
    position: relative;
    left: 10%;
    top: 10vh;
    width: 80%;
    height: 100vh;
    padding-left: 3%;
    padding-right: 3%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 18vw;
    grid-column-gap: 1%;
    grid-row-gap: 5%;
    font-size: 0.8vw;
    padding-bottom: 15%;
}

.main-page > a {
    width: 100%;
    height: 100%;
}

.video-card {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    flex-wrap: wrap;
    position: relative;
    border-radius: 20px;
    transition: all 0.2s ease-in;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    z-index: 3;
    overflow: hidden;
}

.video-card > video {
    object-fit: cover;
    height: 70%;
    width: 100%;
    border-radius: 13px;
    position: relative;
}

.video-card-info {
    height: 30%;
    width: 100%;
    display:flex;
    flex-direction: row;
    background-color: transparent;
}

#video-card-info-right p:nth-child(1) {
    padding-top: 5px;
    font-size: 1em;
    margin: 0;
    margin-top: 2%;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
    /* word-break: break-all; */
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: transparent
}

#video-card-info-right {
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: transparent;
    width: 100%;
}

#video-card-info-right p:nth-child(2) {
    font-size: 0.9em;
    margin: 0;
    margin-top: 2%;
    background-color: transparent;
    color: rgb(170,170,170)
}

#video-card-info-right > span {
    font-size: 0.9em;
    color: rgb(170,170,170);
    background-color: transparent
}

.video-card-preview {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    flex-wrap: wrap;
    position: absolute;
    overflow: hidden;
    transform: scale(1.3);
    border-radius: 13px;
    background-color: rgb(39,39,39);
    transition: all 0.2s ease-in;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    z-index: 10;
}


a {
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
}

.video-card-preview > video {
    object-fit: cover;
    height: 70%;
    width: 100%;
    position: relative;
}

#preview-hover-text {
    position: absolute;
    background-color: black;
    color: white;
    font-size: 11px;
    right: 1%;
    bottom: 32%;
    z-index: 99;
    padding: 1.5%
}
